workflows/dental-enquiry.json
{
  "name": "Dental Enquiry",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Enqury form ",
        "formDescription": "Apply for free denatl checkup",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "email ",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Contact_details ",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Treatments",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Free Dental checkup "
                  },
                  {
                    "option": "Root Canel "
                  },
                  {
                    "option": "Teeath whiteing "
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -368,
        464
      ],
      "id": "b8a64760-5bdc-40d5-a1ef-30a164a1139e",
      "name": "On form submission",
      "webhookId": "96e94ad4-724e-412c-838e-90ab14375c59"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        240
      ],
      "id": "c16da555-d391-4369-bc8d-2e40e4acbb55",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email \"] }}",
        "subject": "=Dental Buzz - Your {{ $json.Treatment }} Consultation Request Has Been Received",
        "emailType": "text",
        "message": "=Dear {{ $('Edit Fields').item.json[\"name \"] || $('Edit Fields').item.json.name }},\n\nThank you for contacting Dental Buzz.\n\nWe have successfully received your enquiry regarding {{ $('Edit Fields').item.json.treatments }}.\n\nYour Enquiry Details:\nName: {{ $('Edit Fields').item.json[\"name \"] || $('Edit Fields').item.json.name }}\nTreatment: {{ $('Edit Fields').item.json.treatments }}\nEmail:{{ $json['Email '] }}\n\nBest Regards,\nDental Buzz Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        480,
        464
      ],
      "id": "f3ae0aa2-123f-4463-8f58-8a773e4ce7e8",
      "name": "Send a message",
      "webhookId": "d839ca03-3e28-4f0f-9e2e-2b561d77e1b7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf5fc429-749e-4da5-b905-b0aaed19136d",
              "name": "name ",
              "value": "={{ $json.Name ||  $json.name_full || $json.body.name}}",
              "type": "string"
            },
            {
              "id": "a211f747-1dc5-46d3-9fdb-d64dfb07ba32",
              "name": "email",
              "value": "={{ $json['email ']|| $json.email_full || $json.body.email }}",
              "type": "string"
            },
            {
              "id": "da901821-86a2-456c-adf2-8ce585a9fe81",
              "name": "Phone_number ",
              "value": "={{ $json['Contact_details '] || $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "64ecd033-266b-4ad2-8d31-20353c118387",
              "name": "treatments",
              "value": "={{ $json.Treatments ||  $json.body.treatment }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        464
      ],
      "id": "340f9002-4e38-4b6b-9b6f-51892a19f546",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3f8d6f86-a7d4-42fa-b470-5ee2c9a57574",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        672
      ],
      "id": "81be074b-2b1d-476f-acd0-64037493cda1",
      "name": "Webhook",
      "webhookId": "3f8d6f86-a7d4-42fa-b470-5ee2c9a57574"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1L7VYNTDb88TeqVoN98Ey8FMLNjw32AHPn0BJITk4BbY",
          "mode": "list",
          "cachedResultName": "Dental Checkup leads"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json['name '] }}",
            "Email ": "={{ $json.email }}",
            "Phone_number ": "={{ $json[\"Phone_number \"] }}",
            "Treatment": "={{ $json.treatments }}",
            "Geninun status": "={{ $json.lead_status }}",
            "Date": "={{$now.format('dd/MM/yyyy')}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        464
      ],
      "id": "bfae6b5a-4e25-4c9d-ad44-f39f2e4e40ac",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { const data = item.json; const name = (data['name '] || data.name || '').trim(); const email = (data.email || '').trim().toLowerCase(); let phone = (data['Phone_number '] || data.Phone_number || '').toString().trim(); const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/; const fakeKeywords = ['test','testing','demo','sample','abc','dummy','fake','user','admin','123','12345']; let emailValid = emailRegex.test(email); if (emailValid) { const localPart = email.split('@')[0]; if (fakeKeywords.some(word => localPart.includes(word)) || /^\\d+$/.test(localPart)) { emailValid = false; } } phone = phone.replace(/\\D/g, ''); if (phone.startsWith('91') && phone.length === 12) { phone = phone.slice(2); } const phoneValid = /^\\d{10}$/.test(phone); const nameValid = name.length >= 3; let leadStatus = 'GENUINE'; let reason = 'Valid Lead'; if (!nameValid) { leadStatus = 'NOT_GENUINE'; reason = 'Invalid Name'; } if (!emailValid) { leadStatus = 'NOT_GENUINE'; reason = 'Suspicious Email'; } if (!phoneValid) { leadStatus = 'NOT_GENUINE'; reason = 'Invalid Phone Number'; } return { json: { ...data, normalized_phone: phone, lead_status: leadStatus, qualification_reason: reason } }; });",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        464
      ],
      "id": "df7e7ff0-5b8e-4ddf-9259-1d6ab3f5da38",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "Dental Buzz Lead Flow\n\nWebhook -> Validate Lead -> Google Sheets -> Confirmation Email\n\nweb link :: https://preview--snag-a-smile-form.lovable.app/\n",
        "height": 336,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        80
      ],
      "typeVersion": 1,
      "id": "f4a9a8e9-f1c6-4919-a0ea-466d5657cc60",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}